* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
* a {
    text-decoration: none;
}
body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, navy, #000016);
    /* font-family: Verdana, Geneva, Tahoma, sans-serif; */
    /* font-family: cursive; */
}
.container {
    position: relative;
    width: 100%;
}
header {
    position: relative;
}
/* --------------------- Header Top Bar ------------------ */
header .top {
    position: relative;
    width: 100%;
    padding: 10px;
    background: #000016;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.top .left {
    position: relative;
    color: azure;
    font-weight: 700;
    width: 60%;
}
.right {
    position: relative;
    /* width: 39%; */
}
.left i, .right i {
    color: chartreuse;
}
.left a {
    color: chartreuse;
}
.left span {
    color: #bfbfbf;
}
.right span {
    display: flex;
    gap: 15px;
}
.right span#clipBoard {
    position: absolute;
    top: 80px;
    left: -150px;
    z-index: 15;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    background: rgba(255, 157, 157, 0.288);
    width: 170px;
    min-height: 80px;
    align-items: center;
    justify-content: center;
    display: none;
}
span#clipBoard span {
    padding: 3px 8px;
    color: chartreuse;
    background: #8a8a8a73;
    font-size: 14px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
span#clipBoard button {
    padding: 5px 8px;
    font-size: 14px;
    color: grey;
    background: transparent;
    width: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    outline: none;
    border: none;
    border-top: 1.2px solid #000;
}


.title {
    position: relative;
    width: 100%;
    padding: 10px 15px;
    background: #292948;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(192, 192, 192, 0.193);
}
.title h2 {
    font-size: 28px;
    color: azure;
}
.title .underline {
    position: relative;
    width: 120px;
    height: 2px;
    /* background: red; */
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.underline::after {
    content: "";
    position: absolute;
    width: 25%;
    background: azure;
    height: 100%;
    animation: undermate 0.7s linear forwards;
    box-shadow: 0 -2.5px 9px 4px azure;
}
.underline:nth-child(1):after {
    box-shadow: 0 2.5px 9px 4px azure;
}

section {
    position: relative;
    width: 100%;
    /* min-height: 80vh; */
    display: grid;
    gap: 10px;
    justify-content: center;
    padding: 10px 25px;
}

.skills {
    width: 100%;
    position: relative;
    padding: 18px 20px;
    background-color: #272744;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    height: fit-content;
}
.skills h2 {
    color: azure;
    text-align: center;
}
.skills p.u-line {
    width: 300px;
    /* background: #000; */
    height: 2px;
    position: relative;
    display: flex;
    justify-content: center;
}
p.u-line::after {
    content: "";
    position: absolute;
    width: 75%;
    filter: drop-shadow(0 0 5px white);
    height: 100%;
    background: #fff;
    animation: undermate 0.7s linear forwards;
}
.skills .skill {
    width: 100%;
    padding: 0 5px;
    background: #2e2e2e;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 5px;
    border-radius: 8px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    z-index: 2;
}
.skill::before {
    content: "";
    width: 100%;
    height: 50%;
    left: 0;
    top: 0;
    position: absolute;
    background: #3e3e3e;
    z-index: 1;
}
.skills:hover .skill {
    opacity: 0.15;
}
.skills .skill:hover {
    opacity: 1;
    transform: scale(1.04);
}
.skills .skill .iconBox {
    position: relative;
    width: 150px;
    height: 30px;
    display: flex;
    gap: 15px;
    align-items: center;
    z-index: 2;
}
.iconBox img {
    position: relative;
    width: 40px;
    height: 40px;
    /* border-radius: 50%; */
}
.skill .skillName {
    font-size: 18px;
    font-weight: 600;
    color: azure;
    /* width: 80px; */
    z-index: 2;
}
.skill .line {
    width: calc(100% - 160px);
    height: 15px;
    border: 1px solid silver;
    background: rgba(196, 247, 247, 0.901);
    border-radius: 8px;
    position: relative;
    z-index: 2;
}
.skill span {
    color: transparent;
    transition: 0.8s;
    z-index: 2;
}
.skill:hover span {
    color: azure;
    /* color: ; */
}
.line::after {
    content: "";
    position: absolute;
    height: 100%;
    border-radius: 8px;
    width: calc(var(--w) * 1%);
    filter: drop-shadow(0 0 2px var(--clr)) drop-shadow(0 0 25px var(--clr));
    background-color: var(--clr);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    transition: 4s;
    animation: widthLine 3.5s ease-in-out forwards;
}


@media (min-width: 741px){
    section {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 740px){
    section {
        grid-template-columns: repeat(1, 1fr);
    }
}

@keyframes undermate {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes widthLine {
    0% {
        width: 0%;
    }
}